body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;

}

h1
{
    margin-top:50px auto 0 auto; /*we can also write in short hand that margin:0(top and bottom is 0) auto(left and right are set to auto position) for e.g- margin:0 auto;*/
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*  16px=100%=1em */
    color:#66BFBF ;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF ;
    font-weight: normal;
    padding-bottom: 10px;

  
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
p{
    line-height: 2;
}
.top-container
{
    background-color: #E4F9F5;
    position:relative;
    padding-top: 100px;
   

}
.top-cloud
{
    position:absolute;
    right:300px;
    top: 40px;
}
.bottom-cloud
{
    position:absolute;
    left: 250px;
    bottom: 300px;
}
.middle-container
{
    padding: 100px 0;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.footer-link
{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;

}
a:hover
{
   color: #EAF6F6;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
   
}
.code-img
{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
.chilli-img
{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile-skill-description
{
    margin: auto;
    width: 30%;
   
}
hr 
{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(206, 202, 202);
    border-width: 5px;
    width: 4%;
    margin:100px auto;
}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #3DF6CC;
    background-image: -webkit-linear-gradient(top, #3DF6CC, #1E6ED0);
    background-image: -moz-linear-gradient(top, #3DF6CC, #1E6ED0);
    background-image: -ms-linear-gradient(top, #3DF6CC, #1E6ED0);
    background-image: -o-linear-gradient(top, #3DF6CC, #1E6ED0);
    background-image: -webkit-gradient(to bottom, #3DF6CC, #1E6ED0);
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    -webkit-box-shadow: 0 -1px 51px 0 #BFCECC;
    -moz-box-shadow: 0 -1px 51px 0 #BFCECC;
    box-shadow: 0 -1px 51px 0 #BFCECC;
    text-shadow: 0 0 8px #000000;
    border: solid #14E86D 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #33EDD6 1px;
    background: #1ED0A5;
    background-image: -webkit-linear-gradient(top, #1ED0A5, #3DF6AB);
    background-image: -moz-linear-gradient(top, #1ED0A5, #3DF6AB);
    background-image: -ms-linear-gradient(top, #1ED0A5, #3DF6AB);
    background-image: -o-linear-gradient(top, #1ED0A5, #3DF6AB);
    background-image: -webkit-gradient(to bottom, #1ED0A5, #3DF6AB);
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    text-decoration: none;
 }
 .copyright
 {
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0;
 }